@import "tailwindcss";

@theme {
  --color-background: #020202;
  --color-text: #e9e9e9;
  /* --color-primary: #d62848; */
  --color-primary: #e08311;
  --color-secondary: #b0ada8;
  --color-secondary-dim: #8e8c88;
}

@font-face {
  font-family: "display";
  src: url("/fonts/Inter_24pt-Black.ttf") format("truetype");
  src: url("/fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "detail";
  /* src: url("/fonts/XanhMono-Regular.ttf"); */
  src: url("/fonts/mplus-1m-light.otf") format("opentype");
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  src: url("/fonts/DraftingMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "body";
  src: url("/fonts/Inter_18pt-Regular.ttf");
}

:root {
  @apply bg-background text-text;

  font-family: "Times New Roman", Times, serif;
  font-family: "body", sans-serif;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}
