@import "tailwindcss";

@font-face {
  font-family: "Nimbus-Reg";
  src: url("/fonts/NimbusSanL-Regu.ttf") format("truetype");
}

@font-face {
  font-family: "display";
  /* src: url("/fonts/Inter_24pt-Black.ttf") format("truetype"); */
  src: url("/fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "detail";
  /* src: url("/fonts/XanhMono-Regular.ttf"); */
  /* src: url("/fonts/mplus-1m-light.otf") format("opentype"); */
  /* src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype"); */
  src: url("/fonts/DraftingMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "body";
  src: url("/fonts/Inter_18pt-Regular.ttf");
}

:root {
  background-color: black;
  color: white;

  font-family: "Nimbus-Reg", sans-serif;

  --primary: #fa63af;
  --secondary: #aeaca3;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}
